body {
  background-color: black;
}
h1 {
  font-family: arial;
  color: white;
}
h2 {
  font-family: arial;
  color: white;
}
a {
  font-family: arial;
  color: white;
}
h3 {
  font-family: arial;
  color: white;
}
